<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Reports</title>
</head>

<body>

<div class="container">
	<hr>
	<h3>Report Directory</h3>
	<hr>
	
	<a th:href="@{/api/report/showFormForAdd}"
	   class="btn btn-primary btn-sm mb-3">
		Add Report
	</a>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Patient Name</th>
				<th>Patient Surname</th>
				<th>Diagnostic Title</th>
				<th>Lab Worker</th>
				<th>Date</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="report : ${reports}">
				<td th:text="${report.patientName}" />	
				<td th:text="${report.patientSurname}" />	
				<td th:text="${report.diagnosticTitle}" />
				<td th:text="${report.labWorker.getWorkerName()}" />
				<td th:text="${report.date}" />
				
				<td>
					<a th:href="@{/api/report/showReport(fileNumber=${report.getFileNumber})}"
						class="btn btn-success btn-sm">
						Show
					</a>
					<a th:href="@{/api/report/showFormForUpdate(fileNumber=${report.getFileNumber})}"
						class="btn btn-info btn-sm">
						Update
					</a>
					<a th:href="@{/api/report/delete(fileNumber=${report.getFileNumber})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Re you sure you want to delete this report?')))">
						Delete
					</a>
				</td>
				
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



